.user {
  h1 {
    font-weight: 200;
  }

  .btn-primary {
    color: #fff;
    background-color: #469AE0;
    border-color: #308edc;
    position: absolute;
    bottom: -70px;
  }
}

.no-margin {
    padding: 0px !important ;
}

.vehicles {
  background: gray;
  height: auto;
}

