<div class="container" style="padding-top: 100px; ">
  <div class="row">
    <div class="col-xs-6">
      <p>Collectivise, was formed from the frustration of a lack of transparency and understanding in the classic car market. The performance of collector cars as an alternative investment has been substantial, seeing a growth of 496% over the past 10 years, a 17.37% return each year, stronger than any other alternative investment.<br>
      <br>
      Collectivise brings transparency and insight into the collector car market by providing specific, accurate real-time values for classic and collector cars. Using up to 15 data points, unique to each model to provide specific vehicle values that identify the most accurate current market values of collector cars as part of the Collectivise Classic Car Index or CCCI <br>
      <br>
      Collectivise was founded by Ben Willis, who comes from a background in classic cars, having most recently worked as a specialist for Coys Auctioneers, one of Europe’s leading Auctioneers for classic and collector cars. Along with experience in restoration, race preparation and sales this has given him the understanding of the value of originality, authenticity and provenance. Ben has seen first hand and played part to the significant rise in collector car values over the past 10 years, outperforming every other asset class.</p>
    </div>
    <div class="col-xs-6 ben">
      <%= image_tag "ben.jpg" %>
    </div>
  </div>
</div>
