<div class="home-banner">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>UNPARALLELED<br>DATA COLLECTION</h1>
    <p>WE COLLECT LIVE SALES RESULTS, INTERNATIONALLY AND UPDATE MARKET PRICES IN REAL-TIME, USING MORE DATA POINTS THAN EVER BEFORE TO GET THE MOST ACCURATE AND UNIQUE VALUES FOR EACH COLLECTOR CAR</p>
  </div>
</div>
<div class="about-section">
  <div class="columns">
    <div class="col-xs-6 left">
      <i class="icon fa fa-bar-chart"></i>
      <h1>UNPARALLELED DATA COLLECTION</h1>
      <p>WE COLLECT LIVE SALES RESULTS, INTERNATIONALLY AND UPDATE MARKET PRICES IN REAL-TIME, USING MORE DATA POINTS THAN EVER BEFORE TO GET THE MOST ACCURATE AND UNIQUE VALUES FOR EACH COLLECTOR CAR</p>
    </div>
    <div class="col-xs-6 right">
      <i class="fa fa-briefcase icon"></i>
      <h1>PORTFOLIO MANAGEMENT ON-THE-GO</h1>
      <p>MANAGE AND TRACK YOUR CAR COLLECTION ON THE GO, LOG IN, UPLOAD YOUR CARS AND THEIR PAPERWORK AND DIGITALLY AND SECURELY STORE THEM ONLINE. SHARING THIS INFORMATION DIRECTLY WITH POTENTIAL PURCHASERS SHOULD YOU DECIDE TO SELL</p>
    </div>
  </div>
</div>
<div class="about-us">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>ABOUT US & OUR DATA</h1>
    <hr class="thick-line">
    <p>We believe in complete transparency. Providing access to unparalleled amounts of data for unique, alternative assets such as Classic & Collector Cars. Helping collectors and investors make informed decisions when it comes to buying and selling these assets.<br><br>We have collected over 70,000 auction results internationally, which along with private sale data is allowing us to build up an extremely accurate picture of what individual models are achieving and what it is that makes certain cars more valuable, with our unique data collection that is tailored to each marque and model. Collecting up to 15 unique parameters on individual models, allowing us to accurately measure what it is about each model that makes them stand out from the rest.<br><br>Get your cars value right the first time, and never have it questioned again.<br><br>Choose from one of the packages below or give us a call and we will be happy to discuss your classic car needs.</p>
  </div>
</div>




